%section#about
  .page-header
    %h1
      About
      %small some information
  %p
    This is a small demo-project, showcasing the possibilities of
    = link_to 'on_the_spot', 'https://github.com/nathanvda/on_the_spot'
  %p
    Have a look at the
    = link_to 'source', 'https://github.com/nathanvda/on_the_spot_tester'
    of this project for more information.
